/* * {
  box-sizing: border-box;
} */

body {
  margin: 0px;
  font-family: "Helvetica";
}

.nav {
  /* position: fixed; */
  display: flex;
  /* max-height: 100px; */
  width: 100%;
  background-color: #040404;
  font-family: "Helvetica";
  justify-content: space-between;
  align-items: center;
}

.nav > .nav-header {
  display: inline;
}

.nav a {
  text-align: center;
}

/* Style for the dropdown container */
.dropdown {
  position: relative;
  display: flex;
}

/* Style for the dropdown toggle button */
.dropdown-toggle {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
}

/* Style for the dropdown menu */
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #333;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  /* z-index: 1; */
  width: 100%;
}

/* Style for the dropdown menu items */
.dropdown-menu a {
  display: block;
  color: #fff;
  margin-bottom: 1em;
  /* padding: 10px 20px; */
  text-decoration: none;
}

/* Style for the dropdown menu items on hover */
.dropdown a:hover {
  color: #38b5f8;
  font-size: larger;
}

/* Show the dropdown menu when hovering over the dropdown container */
.dropdown:hover .dropdown-menu {
  position: absolute;
  display: block;
  width: auto; /* Set the width to auto or adjust it to your needs */
  min-width: 100%; /* Set a minimum width to ensure it stretches */
  right: 0;
  left: auto;
  margin-top: 3em;
}

#logo {
  float: left;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: flex;
  float: right;
  font-size: 18px;
  justify-content: flex-end;
  align-items: center;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #efefef;
}

.nav > .nav-links > a:hover {
  color: #38b5f8;
}

.nav > #nav-check {
  display: none;
}

@media (max-width: 600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,
  .nav #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-image: radial-gradient(
    circle farthest-side at center bottom,
    #3dd1f2,
    #277ff2 130%
  );
}
div {
  box-sizing: border-box;
  display: block;
}
.hero {
  position: relative;
  height: 100vh;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle farthest-side at center bottom,
    crimson,
    #003087 130%
  );
  opacity: 0.5;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
  white-space: nowrap;
  transition: opacity 1s ease-in-out;
  width: 70%;
}

@media (max-width: 768px) {
  .hero-content {
    white-space: normal;
  }
}

.hero-content h1 {
  color: #38b5f8;
  font-size: 6rem;
  width: 100%;
  font-family: "Lato";
}

.hero-content h2 {
  color: #f4f7f8;
  font-size: 1.5rem;
  white-space: normal;
  font-family: "Lato";
}

/*ABOUT SECTION*/
p h5 {
  font-family: "Lato";
}

#about {
  background-color: #f8f9fa;
  padding: 50px 0;
}

#about h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: "Lato";
}

#about p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
  font-family: "Lato";
}

#about img {
  max-width: 100%;
  height: auto;
  margin-bottom: 30px;
}

/*SERVICES SECTION*/
#services {
  background-color: #fff;
  padding: 50px 0;
}

#services h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Lato";
}

.service {
  text-align: center;
  margin-bottom: 30px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-family: "Lato";
}

.service p {
  font-size: 18px;
  line-height: 1.5;
  font-family: "Lato";
}

/*TESTIMONIAL SECTION*/
.testimonials {
  background-color: #f8f8f8;
  padding: 50px;
  text-align: center;
}

.testimonials h2 {
  font-size: 36px;
  margin-bottom: 50px;
}

.testimonial-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 30px 50px;
  max-width: 400px;
  padding: 30px;
  text-align: left;
}

.testimonial-card img {
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}

.testimonial-card p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.testimonial-card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

/*CALL TO ACTION/FOOTER */
/* CTA Section */
.cta-section {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.cta-section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 20px;
  margin-bottom: 30px;
}

.cta-section form {
  display: inline-block;
}

.cta-section input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  margin-right: -5px;
}

.cta-section button {
  background-color: #0066ff;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin-right: 20px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

footer ul li a:hover {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  transition: transform 0.2s;
}

.social-media a:hover {
  transform: translateY(-5px);
}

.social-media .fab.fa-facebook {
  color: #3b5998;
}

.social-media .fab.fa-twitter {
  color: #00acee;
}

.social-media .fab.fa-instagram {
  color: #e4405f;
}

/*SHOP*/
main {
  margin: 2rem;
}

.bot-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.bot {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bot img {
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
}

.bot h2 {
  margin-top: 0;
}

.bot p {
  margin-bottom: 1rem;
}

.bot .price {
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.bot .demo {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #fff;
  border-radius: 0.25rem;
  text-decoration: none;
  margin-right: 1rem;
}

.bot .demo:hover {
  background-color: #fff;
  color: #333;
}

.bot button {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #38b5f8;
  color: #fff;
  border-radius: 0.25rem;
  border: none;
}

/*CUSTOM ORDERS*/

form {
  max-width: 600px;
  margin: 0 auto;
}

fieldset {
  margin-bottom: 1rem;
  border: none;
}

legend {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

input[type="file"] {
  padding: 0.5rem 0;
}

button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #555;
}

.product-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100vh;
}

.product-item {
  margin: 3em;
  perspective: 1000px;
}

.product-description {
  font-size: 0.75vw;
}

.product-price,
.product-name,
.product-platform {
  font-size: large;
  font-weight: bolder;
}

.product-image {
  /* width: 100%; */
  height: 100%;
}

.card-container {
  width: 25rem;
  height: 25em;
  overflow: hidden;
  box-shadow: 1.5em 1.5em 3em 0.2em;
  background: #0d0d0d;
  border: 5px solid white;
}

.card-front,
.card-back {
  /* width: 100%;
  height: 100%; */
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.5s;
}

.card-front {
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0d0d0d;
  color: #38b5f8;
  padding: 1em;
  margin: 2em;
}

.card:hover .card-front {
  transform: rotateY(-180deg);
}

.card:hover .card-back {
  transform: rotateY(0deg);
}

.product-bottom-title {
  margin-top: 1.5em;
  font-size: large;
  font-weight: bolder;
}
